name: Security Pipeline

on:
  push:

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install selenium

    # PAS 1 — Unit Testing (Part 2)
    - name: Run unit tests
      run: |
        python test_vault.py

    # PAS 2 — Security Scan (Part 3, atac headless)
    - name: Run security attack bot
      run: |
        python attack_bot.py
